
<h1 class="text-center">Soft & Hard Skills</h1>
<div class="container text-center fw-medium txt">
  <div class="row row-cols-3 row-cols-lg-6 g-2 g-lg-3">
    <div class="col">
      <div class="p-3">HTML</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/html.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">JavaScript</div>
      <circle-progress
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="3"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#198754'"
      [innerStrokeColor]="'#20c997'"
      [animation]="true"
      [animationDuration]="1100"
      [showTitle]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showImage]="true"
      [imageSrc]="'/assets/js.png'"
      [imageHeight]="80"
      [imageWidth]="80"
    ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">CSS</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/CSS.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">Python</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/python.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">Angular</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/angular.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">MySQL</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/mysql.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">Bootstrap</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/bootstrap.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">TypeScript</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/types.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">Git</div>
        <circle-progress
          [percent]="85"
          [radius]="80"
          [outerStrokeWidth]="3"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#198754'"
          [innerStrokeColor]="'#20c997'"
          [animation]="true"
          [animationDuration]="1100"
          [showTitle]="false"
          [showUnits]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [imageSrc]="'/assets/gith.png'"
          [imageHeight]="80"
          [imageWidth]="80"
        ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">GitHub</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/githubblack.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">Spring Boot</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/springboot.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">Node JS</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/nodejs.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">Java</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/java.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">Apache NBeans</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/apachenb.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">MongoDB</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/mongodb.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">Scrum</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/scrum.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">Ingles</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/speak.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
    <div class="col">
      <div class="p-3">Team Work</div>
      <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#198754'"
        [innerStrokeColor]="'#20c997'"
        [animation]="true"
        [animationDuration]="1100"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [imageSrc]="'/assets/teamwork.png'"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
    </div>
  </div>
</div>
