
<div class="container text-center">
    <h1 class="text-center title">Proyectos</h1>
        <div class="row align-items-center">
        <div class="col">
            <div class="container">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/encriptador.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Primer challenge desarrollado durante el cursado del Programa One NEXT Generation de Oracle.</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/encriptador.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Primer challenge desarrollado durante el cursado del Programa One NEXT Generation de Oracle.</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/encriptador.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Primer challenge desarrollado durante el cursado del Programa One NEXT Generation de Oracle.</p>
                    </div>
                  </div>
            </div>
        </div>
        </div>
  </div>