.navbar {
    padding: 0.5rem;
    background-color: #f5f6f7;
}

.bg-col {
    background-color: #04d9f5;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.btn {
    background-color: #04d9f5;
    border-color: aqua;
}

.btn:hover {
    background-color: #04edf6;
    border-color: white;
}

.btn:active {
    background-color: #04eef6de;
}

@media (max-width: 760px) {
    .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}