<section class="sobre-mi seccion-oscura">
    <div class="contenedor">
        <h2 class="seccion-titulo">Acerca de mí</h2>
        <p class="seccion-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis maximus nibh. Vestibulum mattis suscipit rhoncus. Sed volutpat purus ante, ut sollicitudin purus sagittis quis. Sed volutpat accumsan sapien, non fringilla lorem sagittis dignissim. Proin finibus porttitor quam, sit amet egestas libero dictum quis. Aliquam rhoncus velit ut nisi rhoncus efficitur. Morbi semper lacus ac massa sodales facilisis.</p>
    </div>
</section>