<section class="hero align-items-stretch">
    <button type="btn" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
        Editar persona
     </button>   
    <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
        <img src={{persona.img}} class="hero-imagen-desarrollador img-thumbnail rounded-circle" alt="Foto">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <h2>Full Stack Developer Jr.</h2>
    </div>
    <div class="hero-inferior">
        <img src="../../assets/hero-inferior.svg" alt="Monitor JavaScript React HTML CSS" class="img-fluid hero-inferior-image">
    </div>       
</section>
<section class="sobre-mi seccion-oscura">
    <div class="contenedor">
        <h2 class="seccion-titulo">Acerca de mí</h2>
        <p class="seccion-texto">{{persona.descripcion}}</p>
    </div>
</section>
