<section class="hero align-items-stretch">
    <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
        <img src="../../assets/foto-cv.jpg" class="hero-imagen-desarrollador img-thumbnail rounded-circle" alt="Foto de Marcos Arienti">
        <h1>Hola! Soy Marcos Arienti</h1>
        <h2>Full Stack Developer Jr.</h2>
    </div>
    <div class="hero-inferior">
        <img src="../../assets/hero-inferior.svg" alt="Monitor JavaScript React HTML CSS" class="img-fluid hero-inferior-image">
    </div>       
</section>
